<table class="table table-striped">
    <thead>
        <tr>
            <th>Ügyfélkód</th>
            <th>Név</th>
            <th>Lakcím</th>
            <th>Telefonszám</th>
            <th>Személyi ig. szám</th>
            <th>Műveletek</th>
        </tr>
    </thead>
    <tbody>
        @for(customer of customers; track $index) {
            <tr>
                <td>{{ customer.customerId }}</td>
                <td>{{ customer.name }}</td>
                <td>{{ customer.address }}</td>
                <td>{{ customer.phone }}</td>
                <td>{{ customer.idCard }}</td>
                <td>
                    <button class="btn btn-outline-primary"
                        (click)="goToCustomerForm(customer.id)">Módosítás</button>
                    <button class="btn btn-outline-danger"
                        (click)="deleteCustomer(customer)">Törlés</button>
                </td>
            </tr>
        }
    </tbody>
</table>