<div class="row">
    <div class="col-md-6">
        <form [formGroup]="borrowForm">
            <div class="mb-3">
                <label for="customer" class="form-label">Ügyfél</label>
                <select class="form-select" id="customer" formControlName="customer">
                    @for(customer of customers; track $index) {
                        <option [ngValue]="{ id: customer.id }">{{ customer.name }} ({{ customer.customerId }})</option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <label for="book" class="form-label">Könyv</label>
                <select class="form-select" id="book" formControlName="book">
                    @for(book of getFreeBooks(); track $index) {
                        <option [ngValue]="{ id: book.id }">{{ book.title }} ({{ book.author }})</option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <label for="days" class="form-label">Napok:</label>
                <input type="number" min="1" class="form-control" id="days" formControlName="days">
            </div>
        </form>
        <button class="btn btn-outline-primary" (click)="createBorrow()">Kölcsönzés</button>
    </div>
</div>